* {
    border-radius: 5px;
}

body {
    margin: 50px 100px;
    min-width: 400px;
    font-family: "Times New Roman", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.color_guide, .font_guide, .text_guide {
    border: 2px solid rgb(200, 50, 50);
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: rgb(255, 247, 247);
}

.colors, .fonts, .texts {
    display: inline-block;
    margin: 10px 20px;
    padding: 20px 30px;
    width: 400px;
    border: dotted 1px rgb(200, 50, 50);
    background-color: cornsilk;
}

#cool_blue, #pink, #mint_green, #beige {
    box-sizing: border-box;
    text-align: center;
    width: 300px;
    height: 120px;
    padding: 30px 0;
    line-height: 30px;
}

#cool_blue {
    background-color: #2d5dcc;
    color: white;
}

#pink {
    background-color: #d957d9;
    color: black;
}

#mint_green {
    background-color: #4fe0b0;
    color: black;
}

#beige {
    background-color: #efd9ca;
    color: black;
}

#cool_blue:hover, #pink:hover, #mint_green:hover, #beige:hover, #cool_blue:active, #pink:active, #mint_green:active, #beige:active {
    text-align: center;
    width: 304px;
    height: 126px;
    padding: 33px 0;
}

#cool_blue:hover, #pink:hover, #mint_green:hover, #beige:hover {
    border: solid 2px rgb(255, 0, 0);
    transition-duration: 0.3s;
}

#cool_blue:hover {
    background-color: rgb(75, 123, 234);
}

#pink:hover {
    background-color: rgb(247, 117, 255);
}

#mint_green:hover {
    background-color: rgb(109, 254, 206);
}

#beige:hover {
    background-color: rgb(255, 247, 232);
}

#cool_blue:active, #pink:active, #mint_green:active, #beige:active {
    border: solid 2px rgb(255, 255, 0);
    transition-duration: 0s;
}

span {
    font-weight: 800;
    font-size: 20px;
    text-decoration: underline 2px;
}

#source_code_font, #source_code_text {
    font-family: "source code pro", sans-serif;
}

#nunito_font, #nunito_text {
    font-family: "nunito sans", sans-serif;
}

#poppins_font, #poppins_text {
    font-family: poppins, sans-serif;
}