* {
    border-radius: 5px;
}

body {
    margin: 50px 100px;
    min-width: 400px;
    font-family: "Times New Roman", sans-serif;
}

.color_guide, .font_guide, .text_guide {
    border: 2px solid rgb(200, 50, 50);
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: rgb(255, 247, 247);
}

.colors, .fonts, .texts {
    display: inline-block;
    margin: 10px 20px;
}

#cool_blue, #pink, #mint_green, #beige {
    box-sizing: border-box;
    text-align: center;
    width: 300px;
    height: 120px;
    padding: 30px 0;
    line-height: 30px;
}

#cool_blue {
    background-color: #2d5dcc;
    color: white;
}

#pink {
    background-color: #d957d9;
}

#mint_green {
    background-color: #4fe0b0;
}

#beige {
    background-color: #efd9ca;
}

span {
    font-weight: 800;
    font-size: 20px;
    text-decoration: underline 2px;
}

#source_code_font, #source_code_text {
    font-family: "source code pro", sans-serif;
}

#nunito_font, #nunito_text {
    font-family: "nunito sans", sans-serif;
}

#poppins_font, #poppins_text {
    font-family: poppins, sans-serif;
}

.colors, .fonts, .texts {
    width: 400px;
    border: dotted 1px rgb(200, 50, 50);
    background-color: cornsilk;
    padding: 20px 30px;
}